@import "tailwindcss";
/*@layer theme, base, components, utilities;*/

/*@import "tailwindcss/theme.css" layer(theme);*/
/*@import "tailwindcss/preflight.css" layer(base);*/
/*@import "tailwindcss/utilities.css" layer(utilities);*/

@import "tailwindcss-animated";
@import "@glidejs/glide/dist/css/glide.core.min.css";

@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?f6idwg');
    src: url('/fonts/icomoon.eot?f6idwg#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?f6idwg') format('truetype'),
    url('/fonts/icomoon.woff?f6idwg') format('woff'),
    url('/fonts/icomoon.svg?f6idwg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
@font-face {
    font-family: 'Minion-Pro';
    src: url('/fonts/MinionPro-Regular.woff2') format('woff2'),
    url('/fonts/MinionPro-Regular.woff') format('woff'),
    url('/fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Minion-Pro';
    src: url('/fonts/MinionPro-Bold.woff2') format('woff2'),
    url('/fonts/MinionPro-Bold.woff') format('woff'),
    url('MinionPro-Bold.svg#MinionPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-minionpro: "Minion-Pro", sans-serif;
    --font-icoMoon: "icomoon", sans-serif;
    --icon-stars: '\e917';

    --default-font-family: var(--font-minionpro), sans-serif;

    --breakpoint-*: initial;
    --breakpoint-mobile: 32.5rem  /* 520/16 */;
    --breakpoint-tablet: 48rem  /* 768/16 */;
    --breakpoint-desktop: 64rem  /* 1024/16 */;
    --breakpoint-large: 80rem  /* 1280/16 */;
    --breakpoint-xlarge: 90rem  /* 1440/16 */;
    --breakpoint-xxlarge: 96.875rem  /* 1550/16 */;

    --container-*: initial;
    --container-mobile: 30.5rem;
    --container-tablet: 46rem;
    --container-desktop: 62rem;
    --container-large: 78rem;
    --container-xlarge: 88rem;
    --container-xxlarge: 94.875rem;

    --container-padding: 1rem;

    --header-height-scrolled-mobile: 87px;
    --header-height-no-scrolled-mobile: 133px;
    --header-logo-height-no-scrolled-mobile: 100px;
    --header-logo-height-no-scrolled-desktop: 130px;
    --header-logo-height-scrolled: 70px;
    --sticky-desktop: 184px;
    --section-margin: 70px;
}
@utility container {
    padding-inline: var(--container-padding);
    margin-left: auto;
    margin-right: auto;
}
@utility verical-writing {
    writing-mode: sideways-lr;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-size: unset;
        font-weight: var(--font-weight-bold);
    }

    .h1 {
        font-size: clamp(2.244rem, 1.930rem + 1.569vw, 3.813rem);
        @apply leading-[1.2]
    }

    .h2 {
        font-size: clamp(1.875rem, 1.65rem + 1.125vw, 3rem);
        @apply leading-[1.2]
    }

    .h3 {
        font-size: clamp(1.625rem, 1.462rem + 0.813vw, 2.438rem);
        @apply leading-[1.2]
    }

    .h4 {
        font-size: clamp(1.381rem, 1.27rem + 0.557vw, 1.938rem);
        @apply leading-[1.2]
    }

    .h5 {
        font-size: clamp(1.2rem, 1.127rem + 0.363vw, 1.563rem);
        @apply leading-[1.2]
    }

    .h6 {
        font-size: clamp(1.044rem, 1.003rem + 0.206vw, 1.25rem);
        @apply leading-[1.2]
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    [class^="icon-"], [class*=" icon-"] {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .icon-facebook {
        @apply before:content-['\e903'];
    }
    .icon-instagram {
        @apply before:content-['\e904'];
    }
    .icon-youtube {
        @apply before:content-['\e902'];
    }
    .icon-tiktok {
        @apply before:content-['\e901'];
    }
    .icon-rss {
        @apply before:content-['\e905'];
    }
    .icon-arrow-left {
        @apply before:content-["\e907"];
    }
    .icon-arrow-right {
        @apply before:content-["\e906"];
    }
}